In [42]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [43]:
#Create the dataframe
weather_data_df = pd.read_csv("weather_data.csv")
weather_data_df.head()

,Unnamed: 0,city,lat,lon,temp,humidity,cloud_cover,wind_speed,country,date
0,0,barrow,71.29,-156.79,14.00,78,1,11.41,US,1588714222
1,1,vaini,-21.20,-175.20,78.80,83,75,6.93,TO,1588714222
2,2,yanam,16.73,82.22,80.37,92,13,1.92,IN,1588714222
3,3,esperance,-33.87,121.90,57.20,58,90,33.33,AU,1588714222
4,4,qaanaaq,77.48,-69.36,17.91,88,98,5.57,GL,1588714192

In [ ]:
locations = weather_data_df[['lat','lon']]
weight = weather_data_df['humidity']

m = gmaps.figure()
m.add_layer(gmaps.heatmap_layer(locations, weights=weight,dissipating=False,max_intensity=.5,point_radius=10))
m

In [ ]:
#We are going to be finding a location spot so we need to make some filters
max_temp = weather_data_df['temp'] <= 75
min_temp = weather_data_df['temp'] >= 65
windspeed = weather_data_df['wind_speed'] <=10
cloudiness = weather_data_df['cloud_cover'] <=20
hot_wet = weather_data_df['humidity'] <= 50

#Now to apply the filters
vacay_df = weather_data_df[max_temp & min_temp & windspeed & cloudiness & hot_wet]
vacay_df

In [ ]:
#Next we are going to find the closest hotels to the city center

# set up a parameters dictionary
params = {
    "radius": 5000,
    "keyword": "hotels",
    "type": "hotel",
    "key": g_key
}

for index, row in vacay_df.iterrows():
    
    #add the values for lat and long
    lat = row["lat"]
    lng = row["lon"]
    params["location"] = f"{lat},{lng}"

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params) 
    hotel_name = response.json()
    print(json.dumps(hotel_name, indent=4, sort_keys=True))
    try:
        vacay_df.loc[index, "Hotel Name"] = hotel_name["results"][0]['name']
    except (KeyError,IndexError):
        print("No hotels within your selected radius, Skipping")
vacay_df

In [ ]:
#Now I am going to make a new df and drop the NA's
hotel_df = vacay_df.copy()
hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]
hotel_df

In [ ]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [ ]:
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
m.add_layer(markers)
m